* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input[type="text"] {
    padding: 10px;
    border: none;
    outline: none;
    height: 10px;
}

.container {
    height: 700px;
    gap: 20px;
    display: grid;
    max-width: 800px;
    grid-template-columns: 1fr minmax(300px,.7fr);
    margin: 0 auto;
}

.form-img {
    background-image: url("https://th.bing.com/th/id/R.eeb95bb577ba32d1cfc6d285fc72bd9a?rik=aPJ5Xo2phj8AKQ&pid=ImgRaw&r=0");
    background-size: cover;
    background-position: center;
}

.container form {
    background-color: rgba(138, 195, 106, 0.945);
    display: flex;
    flex-wrap: wrap;
}

.container form input[type="text"] {
    flex-basis: 100%;

}