* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"] {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #eaf1f7;
    border-radius: 5px;
    margin-bottom: 15px;
}

.titulo{
    display: none;
}

.container {
    height: 700px;
    gap: 20px;
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr minmax(300px,.7fr);
    margin: 0 auto;
    padding: 20px;
}

.form-img {
    background-image: url("https://th.bing.com/th/id/OIP.zB9gGl65g1-TUDn-YWTtxQHaMc?pid=ImgDet&rs=1");
    /**background-size: cover;**/
    background-position: center;
    background-repeat: no-repeat;
}
    
.container-form {
    background-color: rgb(255, 255, 255);

}

.container form {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 5px;
}

.container form input[type="text"] {
    flex-basis: 100%;
}

.button{
    background-color: #00a5f1;
    border-radius: 3px;
    flex-basis: 70%;
    margin: 15px auto;
    padding: 10px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.remember{
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
}

.button:hover {
    color:blue
}

@media (max-width: 900px){
    .container-form {
        background-color: rgb(172, 94, 94);
    }
    .titulo{
        display: block;
    }
    .form-img {
        display: none;
    }
    .container-form{
        grid-column: 1/3;
    }
}