{% extends 'base.html' %}
{% block body %}

<h2>{{ the_title }}</h2>

<form method="POST" action="/resultado_valores">
    <table>
        <p>Esta página será utilizar para somar valores</p>
        <p>Insira os valor a baixo</p>

        <tr><td>Valor</td><td><input name="valor1" type="text" width="15"><td><input name="valor2" type="text" width="15"></td></td>
    </tr>
    
    </table>
    <p>Qual a forma de calculo (+) </p>
    <p><input value="Resultado!" type="submit" width="30"></p>
</form>
{% endblock %}