* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #333;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #111;
  }

  .title {
    display: none;
  }

.container{
    height: 700px;
    gap: 50px;
    display: grid;
    justify-content: center;
    }

.img {
    background-image: "https://th.bing.com/th/id/OIP.T2kPJvyt9Sf5_oaGIj2ryAHaFj?pid=ImgDet&w=800&h=600&rs=1";
    background-position: center;
  }

  .container-form {
    background-color: #333;
  }