{% extends 'base.html' %}
{% block body %}

<h2 class="title">{{ the_title }}</h2>
<section class="container">
    <div class="img"></div>
    <div class="container-form">
        <form method="POST" action="/busca_palavra">
            <table>
                <p>Use esse formalário para realizar uma consulta</p>
                <label for="frase">Frase</label>
                <input name="frase" type="TEXT" width="60">
                <label for="letras">Letras</label>
                <input name="letras" type="TEXT" value="aeiou">
            </table>
            <p>Quando estiver pronto aperte no botão a baixo</p>
            <p><input value="OK!" type="submit"></p>
        </form>
    </div>
</section>
{% endblock %}
