{% extends 'base.html' %}
{% block body %}

<h2>{{ the_title }}</h2>

<form method="POST" action="/busca_palavra">
    <table>
        <p>Use esse formalário para realizar uma consulta</p>
        <tr><td>Frase</td><td><input name="frase" type="TEXT" width="60"></td>
    </tr>

    <tr>
        <td>Letras</td><td><input name="letras" type="TEXT" value="aeiou"></td>
    </tr>
    </table>
    <p>Quando estiver pronto aperte no botão a baixo</p>
    <p><input value="Vai!!!" type="subimit"></p>


{% endblock %}
