{% extends 'base.html' %}
{% block body %}

<h2>{{ the_title }}</h2>

<form method="POST" action="/resultado_raiz">
    <table>
        <p>Dado aos valores inseridos nos pontos1 e ponto2, o qual P1 = x1 e y1 e P2 = x2 e y2</p>
        <p>Use esse formalário para para calcular a raiz quadradata de um valor sendo a formula(√(x1+x2)+(y1+y2)²)</p>
        <p>Exemplo:</p>
        <p>P1= 3 e P2= 4 então (√(3+4)+(3+4)²)</p>
        <p>É esperado um valor com (x,y),(x,y)</p>
        <tr><td>Valor</td><td><input name="a_raiz" type="text" width="60"></td>
    </tr>

    </table>
    <p>Quando estiver pronto aperte no botão a baixo</p>
    <p><input value="Ir!!" type="submit"></p>
</form>
{% endblock %}